{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    <div>
        <a href="{{ path('page_player_hydration_intake_add_for_today', {redirect: 'page_player_hydration_summaries_for_current_user'}) }}" title="">Add Water Intake</a>
    </div>
    {% for summary in summaries %}
        <article>
            <ul>
                <li>
                    <a href="{{ path('page_player_current_user_hydration_summary_for_date', {date: summary.added}) }}" title="">
                        Date: {{ summary.added }}
                    </a>
                </li>
                <li>Completion: {{ summary.completion }}</li>
            </ul>
        </article>
    {% endfor %}
{% endblock %}