{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    {% for summary in summaries %}
        <article>
            <ul>
                <li>
                    <a href="{{ path('page_player_current_user_hydration_summary_for_date', {date: summary.added}) }}" title="">
                        Date: {{ summary.added }}
                    </a>
                </li>
                <li>Completion: {{ summary.completion }}</li>
            </ul>
        </article>
    {% endfor %}
{% endblock %}