{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-light-blue row">
        <div class="col-auto">
            <nav class="min-vh-100 sticky-top p-2">
                {% include 'player/components/_player_sidebar.html.twig' %}
            </nav>
        </div>

        <div class="col">
            <div class="row flex-nowrap">
                <main class="col">
                    <header class="bg-light-blue row flex-nowrap sticky-top">
                        {% include 'player/components/_player_navbar.html.twig' %}
                    </header>

                    {% block page_content %}{% endblock %}
                </main>
            </div>

            <footer id="main-footer-player" class="main-footer">
                {% include 'player/components/_player_footer.html.twig' %}
            </footer>
        </div>
    </div>
{% endblock %}