{% extends 'base.html.twig' %}

{% block body %}
    <header id="main-menu-player" class="main-menu">
        {% include 'player/components/_player_header.html.twig' %}
    </header>

    <main id="main-wrap">
        <div class="spacer"></div>
        {% block page_content %}{% endblock %}
    </main>

    <footer id="main-footer-player" class="main-footer">
        {% include 'player/components/_player_footer.html.twig' %}
    </footer>
{% endblock %}