{% extends 'base.html.twig' %}

{% block body %}
    <header class="bg-dark row flex-nowrap sticky-top">
        {% include 'player/components/_player_navbar.html.twig' %}
    </header>

    <div class="bg-dark row flex-nowrap">
        <div class="bg-dark col-auto col-md-2 min-vh-100">
            {% include 'player/components/_player_sidebar.html.twig' %}
        </div>

        <main class="col">
            <div class="spacer"></div>
            {% block page_content %}{% endblock %}
        </main>
    </div>

    <footer id="main-footer-player" class="main-footer">
        {% include 'player/components/_player_footer.html.twig' %}
    </footer>
{% endblock %}