{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    <article>
        <h3>{{ book.title }}</h3>
        <h4>
            {% for author in book.authors %}
                {{ author.fullName }}
            {% endfor %}
        </h4>

        {% include 'player/the-librarian/components/_book-toggle-states.html.twig' with {book: book} %}

        <div>
            <ul>
                <li>Published: {{ book.publishedDate }}</li>
            </ul>
        </div>
    </article>
{% endblock %}