<article>
    <header>
        <h3>
            <a href="{{ path('page_player_workout_details', {workoutId: workout.id}) }}" title="">
                {{ workout.title }} <span>[{{ workout.status }}]</span>
            </a>
        </h3>
    </header>
    <div>

    </div>
    <footer>
        <ul>
            {% if context == 'planned' %}
                <li>Start</li>
            {% endif %}
            <li>Edit</li>
            <li>
                <a href="{{ path('page_player_workout_delete', {workoutId: workout.id, redirect: app.request.get('_route')}) }}" title="">
                    Delete
                </a>
            </li>
        </ul>
    </footer>
</article>