{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    <div>
        {% include 'player/dashboard/components/_dashboard-hydration-summary.html.twig' with { hydrationSummary: hydrationSummary } %}
    </div>

    <div>
        {% include 'player/dashboard/components/_dashboard-moods.html.twig' with { moods: moods } %}
    </div>

    <div>
        {% include 'player/dashboard/components/_dashboard-activities.html.twig' with { activities: activities } %}
    </div>
{% endblock %}