{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-md-3">
                    {% include 'player/dashboard/components/_dashboard-hydration-summary.html.twig' with { hydrationSummary: hydrationSummary } %}
                </div>
                <div class="col-md-3">
                    {% include 'player/dashboard/components/_dashboard-mood.html.twig' with { mood: mood } %}
                </div>
                <div class="col">
                    {% include 'player/dashboard/components/_dashboard-sleeps.html.twig' %}
                </div>
            </div>
        </div>

        <div class="col-md-3">
            {% include 'player/dashboard/components/_dashboard-activities.html.twig' with { activities: activities } %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3">
            {% include 'player/dashboard/components/_dashboard-workouts.html.twig' with { workoutGroups: workoutGroups } %}
        </div>
    </div>
{% endblock %}