<a href="" title="">Life Save</a>
<ul>
    <li><a href="" title="">Dahboard</a></li>
    <li>The Coach
        <ul>
            <li><a href="{{ path('page_admin_equipments') }}" title="">Routines</a></li>
            <li><a href="{{ path('page_admin_equipments') }}" title="">Movements</a></li>
            <li><a href="{{ path('page_admin_equipments') }}" title="">Equipments</a></li>
        </ul>
    </li>
</ul>