{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    {{ form_start(form) }}
        <div>
            Weight
            {{ form_widget(form.weight) }}
        </div>
        <div>
            <a href="{{ path('page_weights_for_current_user') }}" class="button cancel-color">Cancel</a>
            <button type="submit" class="button action-color">Save</button>
        </div>
    {{ form_end(form) }}
{% endblock %}