{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    <div>
        <header>
            {% include 'player/the-coach/components/_dashboard_header.html.twig' %}
        </header>
    </div>
{% endblock %}