{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    <div class="row row-cols-3 g-4">
        {% for routine in routines %}
            <div class="col">
                <article class="card">
                    <header class="card-header">
                        <h3 class="card-title">
                            <a href="{{ path('page_player_routine', {'routineId': routine.id}) }}" title="">
                                {{ routine.title }}
                            </a>
                        </h3>
                    </header>
                    <div>

                    </div>
                    <footer class="card-footer">
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <form action="{{ path('page_player_workout_plan_from_routine', {routineId: routine.id}) }}" method="get">
                                    <input type="submit" value="Plan">
                                </form>
                                {% include 'common/components/button/button-start.html.twig' with { action: path('page_player_workout_start_from_routine', {routineId: routine.id}) } %}
                            </div>
                        </div>
                    </footer>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}