{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    <div>
        <header>
            {% include 'player/the-coach/components/_dashboard_header.html.twig' %}
        </header>
    </div>

    <div>
        <h3>
            Workouts history
        </h3>
        {% for workout in workouts %}
            {% include 'player/the-coach/components/_workout_list_details.html.twig' with {workout: workout, context: 'history'} %}
        {% endfor %}
    </div>
{% endblock %}