{% extends 'player/base-player.html.twig' %}

{% block page_content %}
    {{ form_start(form) }}
    <div>
        plannedDate
        {{ form_widget(form.plannedDate) }}
    </div>
    <div>
        <a href="{{ path('page_player_coach_routines') }}" class="button cancel-color">Cancel</a>
        <button type="submit" class="button action-color">Save</button>
    </div>
    {{ form_end(form) }}
{% endblock %}