<div class="card h-100">
    <header class="card-header">
        <h5 class="card-title">
            Moods
        </h5>
    </header>

    <div class="card-body">
        {% if mood is not null %}
            <article>
                {{ mood.level }} - {{ mood.description }}
            </article>
        {% else %}
            <em>No mood logged for now.</em>
        {% endif %}
    </div>

    <footer class="card-footer">
        <a href="{{ path('page_player_mood_add', {redirect: 'page_player_dashboard'}) }}" title="">Add Mood</a>
        <a href="{{ path('page_player_moods_for_current_user', {date: "now"|date("d-m-Y") }) }}" title="">See details</a>
    </footer>
</div>
