<div class="card h-100">
    <header class="card-header pb-0">
        <h5 class="card-title">
            Hydration
        </h5>
    </header>
    <div class="card-body">
        {{ hydrationSummary.dailyProgress }} / {{ hydrationSummary.dailyGoal }}L ({{ hydrationSummary.completion }})
    </div>
    <footer class="card-footer">
        <a href="{{ path('page_player_hydration_intake_add_for_today', {redirect: 'page_player_dashboard'}) }}" title="">Add Water Intake</a>
        <a href="#" title="">See details</a>
    </footer>
</div>