<div class="card h-100">
    <header class="card-header">
        <h5 class="card-title">
            Sleep
        </h5>
    </header>
    <div class="card-body">
        Sleep list of the week
    </div>
    <footer class="card-footer">
        <a href="{{ path('page_player_sleep_add', {redirect: 'page_player_dashboard'}) }}" title="">Add Sleep</a>
    </footer>
</div>