<div class="card h-100">
    <header class="card-header pb-0">
        <h5 class="card-title">
            Activity
        </h5>
    </header>
    <div class="card-body">
        {% for activity in activities %}
            <article>
                {{ activity.title }}
            </article>
        {% else %}
            No activity logged for now.
        {% endfor %}
    </div>
    <footer class="card-footer">
        <a href="{{ path('page_player_activity_add', {redirect: 'page_player_dashboard'}) }}" title="">Add Activity</a>
    </footer>
</div>