<div class="card h-100">
  <header class="card-header pb-0">
    <h5 class="card-title">
      Weight
    </h5>
  </header>
  <div class="card-body">
    hahahzh
  </div>
  <footer class="card-footer">
    <a href="{{ path('page_player_weight_add', {redirect: 'page_player_dashboard'}) }}" title="">Add Weight</a>
  </footer>
</div>